/**/
/*Google Font = Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/*Cambiar Tipo de Fuente*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000; /* Establece el fondo del cuerpo de la página a negro */
}

/* Estilos para el contenedor del texto informativo */
.info-box, .info-box-2, .info-box-3, .info-box-4, .info-box-5, .info-box-6, .info-box-7 {
    position: relative;
    left: 29%;
    transform: translateX(-50%);
    margin: 2px auto; /* Ajusta el margen externo */
    padding: 20px; /* Ajusta el margen interno (espaciado del texto) */
    max-width: 58%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 99; /* Asegura que esté encima de otros elementos */
}

/* Ajusta la posición de cada contenedor */
.info-box-7 {
    top: 100px;
}

.info-box {
    top: 130px;
}

.info-box-2 {
    top: 160px;
}

.info-box-3 {
    top: 190px;
}

.info-box-4 {
    top: 220px;
}

.info-box-5 {
    top: 250px;
}

.info-box-6 {
    top: 280px;
}

/* Estilos para el título */
.info-box .info-title, .info-box-2 .info-title, .info-box-3 .info-title, .info-box-4 .info-title, .info-box-5 .info-title, .info-box-6 .info-title, .info-box-7 .info-title {
    font-size: 21px; /* Ajusta el tamaño del título */
    color: rgb(0, 0, 0); /* Cambia el color del título a azul */
    margin: 0 0 10px; /* Añade un margen inferior para separar del texto */
}

/* Estilos para el texto informativo */
.info-box p, .info-box-2 p, .info-box-3 p, .info-box-4 p, .info-box-5 p, .info-box-6 p, .info-box-7 p {
    font-size: 19px;
    color: #000000;
    margin: 18px;
}

/* Estilo para el título específico */
.info-title-special-title {
    font-size: 23px; /* Ajusta el tamaño del título */
    color: rgb(4, 88, 32); /* Cambia el color a azul */
    margin: 0 0 5px; /* Añade un margen inferior para separar del texto */
}

.success-message {
    background-color: black; /* Fondo negro */
    color: lime; /* Color de texto verde fosforescente */
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 5px; /* Esto hará que las esquinas del mensaje sean redondeadas */
    margin: 0px 0;
    border: 1px solid #39ff14; /* El borde también será verde fosforescente */    
}

a{
    text-decoration: none;
}

.header{
    position: absolute;
    height: 60px;
    width: 90%;
    z-index: 100;
    padding: 0 20px;
}

.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button{
    color: #fff;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("imgSesión/pexels-rajesh-tp-749235-1600727.jpg");
    background-position: center;
    background-size: cover;
}

.nav_logo{
    font-size: 25px;
}

.nav_item{    
    column-gap: 25px;
}

.nav_link:hover{
    color: #d9d9d9;
}

.button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active{
    transform: scale(0.98);
}

.home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before{
    opacity: 1;
    pointer-events: auto;
}

.form_container{
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .form_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form{
    display: none;
}

.form_container.active .signup_form{
    display: block;
}

.form_container.active .login_form{
    display: none;
}

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaa;
}

.input_box input:focus{
    border-color: #f67f2b;
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}

.input_box i.email, 
.input_box i.password{
    left: 0;
}

.input_box input:focus ~ i.email, 
.input_box input:focus ~ i.password{
    color: #f67f2b;
}

.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field{
    margin: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a{
    color: #f67f2b;
    font-size: 12px;
}

.form_container a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.checkbox input{
    accent-color: #f67f2b;
}

.checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button{
    background-color: #f67f2b;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}